@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import 'variable';
* {
  font-size: 14px;
  margin: auto;  font-family: 'Patrick Hand', cursive;
}

@media (max-width:1987px) {
  .loginPage {
    padding: 0;
    margin: 0;
  
    background-image: url("/img/defaul/loginbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
  }

  .login {
    background-color: white;
    min-width: 300px;
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70%;
    width: 30%;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 15px;

    &-social {
      position: relative;
      height: 25px;
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 4px;

      .link1 {
        width: 24%;
        height: 100%;
        background-color: #F8EDE3;
        text-align: center;
        color: #85586F;
      }

      .link2 {
        width: 24%;
        text-align: center;
        height: 100%;
        color: #85586F;
        background-color: #F8EDE3;
      }

      .link3 {
        width: 24%;
        text-align: center;
        height: 100%;
        color: #85586F;
        background-color: #F8EDE3;
      }

      .link4 {
        text-align: center;
        width: 24%;
        height: 100%;
        color: #85586F;
        background-color: #F8EDE3;
      }

      a:hover {
        background-color: #85586F;
        color: #D0B8A8;
        border: 1px solid black;
        transform: scale(1.1);
        cursor: pointer;
      }
    }

    form {
      width: 80%;
    }

    &-title {
      height: 20%;
      text-align: center;
      padding: 20px;
      padding-top: 30px;
      -webkit-user-select: none;
      user-select: none;

    }

    &-txtInput {
      position: relative;
      width: 100%;
      height: 50px;
      margin-bottom: 20px;



      input {

        background-color: #EDEDED;
        color: rgb(135, 135, 135);
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 2px;
        outline: none;
        font-size: 16px;
        padding-left: 20px;
      }

      label {
        position: absolute;
        line-height: 20px;
        top: 30%;
        left: 20px;
        font-size: 20px;
        color: rgb(135, 135, 135);
        pointer-events: none;
        transition: 0.1s;

      }

      input:focus+label,
      input:invalid+label,
      input:hover+label {
        top: -2px;

        color: #85586F;
        font-size: 16px;
      }

      input:focus {
        border: 2px solid #85586F;
        color: black;
      }

      input:hover {
        cursor: pointer;
      }




    }

    &-btnsubmit {
      position: relative;
      top: 16px;
      width: 20px;
      height: 50px;
      border-radius: 20px;
      background-color: #85586F;
      border: 1px solid #85586F;
      margin-bottom: 20px;
      color: white;
      font-size: 30px;

    }

    &-btnsubmit:hover {
      opacity: 0.7;
      border-color: black;
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        color: #D0B8A8;
        text-decoration: none;
      }

      a:hover {
        color: #85586F;
        text-decoration: underline;
      }
    }
  }

  ///navbar
  .show {
    display: block;

    li {
      display: inline;

    }

  }

  .nav {
    width: 100%;
    height: 70px;



    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 20px;
      flex-direction: row;
      justify-content: center;
      background-color: black;

      a {
        font-size: 20px;
        color: white;
        font-family: 'Patrick Hand', cursive;
      }

      a:hover {
        color: white;
      }
    }

    &-home {
      flex: 2;
      margin-right: 20px;

      a {
        font-size: 30px;
      }

      i {
        position: relative;
        top: -5px;
        margin-right: 5px;
      }
    }

    &-srcBar {
      flex: 4;
    }

    &-create {
      flex: 6;
    }

    &-home:hover {
      a {
        color: red;
      }
    }

    &-private {
      border-radius: 5px;
      display: flex;
      align-items: center;
      height: 100%;
      width: auto;
      margin-left: 20px;
    }

    &-private:hover {
      background-color: rgb(72, 57, 57);
    }



    &-user {
      flex: 2;
      position: relative;
      margin-right: 0px;
      display: flex;
      flex-direction: row;
      height: 100%;
      width: auto;



      &-icon {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70px;
        position: relative;
        top: -9px;

        img {

          width: 50px;

          border-radius: 50%;
          height: 50px;

        }
      }

      &-dropdown {
        display: none;
        border: none;
        border-radius: 0px 0px 12px 12px;
        background-color: #CCC;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 20px 0px;
        width: 200px;
        height: 200px;
        z-index: 1;

        p {
          text-align: center;
        }

        li {
          border-radius: 5px;
          height: 30px;
          width: 100%;
          list-style: none;
          margin-top: 10px;

        }

        a {
          color: black;
          text-decoration: none;
        }

        li:hover {
          background-color: white;

          a {
            color: black;
          }
        }

      }

     
    }

    &-user:hover &-user-dropdown {
      display: block;

    }

    &-btnContainer {
      flex: 6;
      margin-left: 40%;
      display: flex;
      flex-direction: row;
      height: 100%;
      width: auto;

      a:hover {
        background-color: rgb(72, 57, 57);


      }



      a {
        padding: 0px 10px 0px 10px;
        margin-left: 20px;
        border-radius: 5px;
        text-decoration: none;
      }




    }
  }

  ///card
  .home {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   box-sizing: border-box;
    margin: auto;
    z-index: -1;
min-height: 1000px;
    &-loginToast {
      position: fixed;
      right: 0;
      bottom: 0;
    }

    &-announceToast {
      position: fixed;
      right: 0;
      z-index: 1;
      bottom: 100px;
    }

  }

  .cardd {
position: relative;
background-color: #FFF;
    display: grid;
    width: 90%;
    height: 520px;
    padding: 10px;
    overflow: hidden;
    
   margin: 10px;
   margin-bottom: 50px;
    border-bottom: 1px solid black;
    grid-template-rows: 1fr 7 fr 2fr;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "title title cc cc cc"
      "des des img img img"
      "author author zz zz zz"
    ;

    &-title {

height: 100%;
width: 100%;
overflow: hidden;
      grid-area: title;
font-family: $title-font;
      text-transform: uppercase;
      font-size: larger;
      font-weight: 600;
    }

    &-author {

      grid-area: author;
      font-family: $author-font;
      display: flex;
      flex-direction: row;
      justify-content:flex-start;
      height: 100%;
      width: 100%;
      overflow: hidden;
      button{
        position: relative;
        bottom: 10px;
        color: red;
        width: 30%;
        margin: 5px;
      }
    }

    &-img {
      grid-area: img;


      img {
        width: 100%;
        height: 100%;
      }
  p{
    font-family: $author-font;
    font-weight: 100;
    font-size: smaller;
   
  }


    }

    &-description {
height: 100%;
width: 100%;
      grid-area: des;
    font-family: $text-font;
  overflow: scroll;
    }
  }

  #uploadPreview {
    width: 200px;
    height: 200px;
  }

  ///homePage
  .home-page {
    overflow: hidden;
    height: auto;
    width: 100%;
  }

  .aspect-ratio-169 {
    height: 500;
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3;
  }

  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .director {
    background-color: transparent;
    position: absolute;
    top: 25%;
    width: 100%;
    font-size: 1.25rem;

    button:first-child {
      float: left;
    }

    button:nth-child(2) {
      float: right;
    }

    button {
      margin: 50px;
      width: 50px;
      height: 200px;

      display: flex;
      border: none;
      background-color: red;
    
      z-index: 3;

      justify-items: center;
      align-items: center;


      i {
        position: relative;
        top: -0.75rem;
        font-size: 5em;

      }
    }

    button:hover {

      opacity: 1;
    }
  }

  .dot-container {
    width: 100%;
    position: absolute;
    top: 620px;
    height: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: row;

    .dot {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: black;
      margin: 8px;

      &-active {
        background-color: black;
      }
    }



  }

  .toast-container {
    position: fixed;
    border: 1px solid #FFF;
    z-index: 100;
    left: 37%;
    top: 300px;

    &-header {
      button {
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        width: 30px;
        background-color: red;
        border: none;
        color: white;
      }

      button:hover {
        opacity: 0.7;
      }

    }

  }

  .register {
    margin: 0;
    background-image: url("/img/defaul/register-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand', cursive;

    &-container {
      background-color: white;
      height: 70%;
      width: 30%;
      display: flex;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      padding: 10px 40px;
      font-size: 16px;

    }

    &-container:hover {
      border: 1px solid #CCC;
      transform: scale(1.01);
    }

    &-form {
      width: 100%;
      text-align: center;

      p {
        position: relative;
        top: -20px;
      }

      input {
        cursor: pointer;

      }
    }

    &-password {
      position: relative;
      height: 50px;
      width: 100%;
      margin-top: 10px;
      border-radius: 5px;

      input {
        background-color: #7B8FA1;
        height: 100%;
        width: 100%;
        border: none;
      }

      input:focus+label,
      input:invalid+label,
      input:hover+label {
        top: -2px;
        left: 20%;
        color: #FAD6A5;
        font-size: 16px;
        font-weight: 500;
      }

      label {
        position: absolute;
        left: 0;
        top: 0;

      }
    }

    &-textInput {
      position: relative;
      margin-top: 10px;
      height: 50px;
      width: 100%;
      border: none;

      input {
        background-color: #7B8FA1;

        height: 100%;
        width: 100%;
        border: none;
      }

      input:focus+label,
      input:invalid+label,
      input:hover+label {
        top: -2px;
        left: 20%;
        font-weight: 500;
        color: #FAD6A5;
        font-size: 16px;
      }

      label {
        position: absolute;
        left: 0;
        top: 0;

      }
    }

    &-btn {
      button {
        margin: 20px;
        border: none;
        border-radius: 12px;
        width: 50%;
        height: 36px;
        background-color: #7B8FA1;
        color: #FAD6A5;
      }

      button:hover {
        transform: scale(1.1);
      }
    }
  }

  /////////


  /* Footer */
  /*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
}
@media (max-width:360) {

.cardd{
 display: flex;
 flex-direction: column;
}
}
@media (max-width:994px){
  .cardd{
   display: flex;
   flex-direction: column;
    &-description{
      width: 100%;
    height: 400px;
    overflow:scroll;
    }
    &-img{
      img{
        width: 100%;
        height: auto;
      }
    }
    &-title{
height: auto;
      width: 100%;
    }
    &-author{
      height: auto;
      width: 100%;
    }

  }
}