@import url('https://fonts.googleapis.com/css2?family=Anton&family=Metrophobic&family=Pacifico&display=swap');
$text-font: 'Pacifico', cursive;
$author-font:'Metrophobic', sans-serif;
$title-font:'Anton', sans-serif;