
<div class="container-sm">
  <form
    method="POST"
    class="row g-0 m-3"
    action="/create/post"
    enctype="multipart/form-data"
  >
    <div class="mb-1">
      <label for="author" class="form-label">Tên tác giả</label>
      <input
        type="text"
      
        class="form-control"
        id="author"
        placeholder="Author name"
        name="author"
        value={{user.name}} 
        readonly
      />
    </div>
    <div class="mb-1">
      <label for="title" class="form-label">Tiêu đề</label>
      <textarea
        class="form-control"
        id="title"
        rows="2"
        name="title"
      ></textarea>
    </div>
    <div class="mb-2">
      <label for="description" class="form-label">Mô tả</label>
      <textarea
        class="form-control"
        id="description"
        rows="2"
        name="description"
      ></textarea>
    </div>
    <div class="mb-2">
      <label for="image" class="form-label">Image</label>
      <input
        type="file"
        class="form-control"
        id="image"
      onchange="PreviewImage();"
        rows="2"
        name="PostFile"
      />
     <img id="uploadPreview" style="width: 200px; height: 200px;" />
    </div>
    <div class="col-auto text-center">
      <button class="btn btn-primary mb-2">Đăng</button>
    </div>
  </form></div>
  <script type="text/javascript">

    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("image").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };

</script>