<section class="home-page">
  <div class="slider-container aspect-ratio-169">
    <img src="img/defaul/intro1.jpg" />
    <img src="img/defaul/intro2.jpg" />
    <img src="img/defaul/intro3.jpg" />
    <img src="img/defaul/intro4.jpg" />
    <img src="img/defaul/intro5.jpg" />
 {{!-- <div class="director">
   <button><i class="bi bi-arrow-left left"></i></button> <button><i class="bi bi-arrow-right right"></i></button>
  </div> --}}
  </div>
 
  <div class="dot-container">

  </div>
</section>
<script>
$(document).ready(function(){



    const imgPosition=document.querySelectorAll(".aspect-ratio-169 img")
    imgPosition.forEach(
        (img,index)=>{
            img.style.left=index*100+"%"
        }
    )
    let index=0;
    const imgContainer=document.querySelector(".slider-container")
    const imgSlider=()=>{
        index++;
        if(index===imgPosition.length)index=0;
        imgContainer.style.left="-"+index*100+"%"
        let clname=".dot"+index;
        $(clname).addClass(".dot-active");
    }
    setInterval(imgSlider,5000);const leftArrow = document.querySelector('.left');
const rightArrow = document.querySelector('.right');


leftArrow.onclick = () => {
    index--;  
    console.log(index);
    if(index<0)
    index=imgPosition.length-1;imgContainer.style.left="-"+index*100+"%"
  leftArrow.animate([
    {left: '0'},
    {left: '10px'},
    {left: '0'}
  ],{
    duration: 700,
    iterations: 3
  });
}
rightArrow.onclick = () => {
    index++;
    if(index===imgPosition.length)
    index=0;  imgContainer.style.left="-"+index*100+"%"
  rightArrow.animate([
    {left: '0'},
    {left: '10px'},
    {left: '0'}
  ],{
    duration: 700,
    iterations: 3
  });
}

for(let i=0;i<imgPosition.length;i++)
{
 $(".dot-container").append("<div class='dot"+i+"'></div>");
}
});
</script>