<div class="home">
  {{#each data}}
    <div class="home-card">
      <h2 class="home-card-author">{{this.author}}</h2>
      <h3 class="home-card-title">{{this.title}}</h3>
      <img class="home-card-img" src="img/post/{{this.src}}" />
      <p class="home-card-description">{{this.description}}
      </p><button class="btn btn-primary">like</button></div>

  {{/each}}
</div>