<div class="container" >


{{#each blogs}}
  <div class="cardd">
    <div class="cardd-title">

      <p>{{this.title}}</p>
    </div>
    <div class="cardd-description"><p>{{this.description}}</p></div>

    <div class="cardd-img"> <img src="img/post/{{this.src}}" />
    </div>


    <div class="cardd-author">
   <p>{{this.author}}</p>
    

    </div>
  </div>


{{/each}}

</div>  