<form method="post"  action="/register/cc"  class="row g-3" enctype="multipart/form-data">
  <div class="col-md-4">
    <label for="fName" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="fName" name="realName" required>
  </div>
  <div class="col-md-4">
    <label for="UserName" class="form-label">User Name</label>
    <input type="text" class="form-control" id="UserName"  required>
  </div>
  <div class="col-md-4">
    <label for="Gmail" class="form-label">Gmail</label>
    <div class="input-group">
      <span class="input-group-text" id="Gmail">@</span>
      <input type="text" class="form-control" id="Gmail"  name="gmail" aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="text" class="form-control" id="password" name="password" required>
  </div>
  <div class="col-md-3">
    <label for="age" class="form-label">Age</label>
    
     <input type="range" id="age" name="age" min="6" max="120" step="1">
   
  </div>
  <div class="col-md-3">
    <label for="avatar" class="form-label">Choose Avatar</label>
  <input id="avatar" type="file" name="imgFile">
  </div>
  
  </div>
  <div class="col-12">
    <button class="btn btn-primary" >Register</button>
  </div>
</form>
{{!-- <form method="post"  action="/register/cc" >
     <label for="img" >file</label>
     <input id="img" type="file" name="imgFile">
   
<button >dk</button>
</form> --}}