<div class="register">
  {{#if announce}}<div
      aria-live="polite"
      aria-atomic="true"
      class="toast-container"
    >
      <div class="toast" id="alert">
        <div class="toast-header toast-container-header">
          <small>Thông Tin Đăng Kí Chưa Hợp Lê</small>
          <button type="button" data-dismiss="toast" aria-label="Close">
            X
          </button>
        </div>
        <div class="toast-body toast-container-body">
          <p>{{message}}</p>
        </div>
      </div>
    </div>{{/if}}
  <div class="register-container">
  <form class="register-form" method="post" action="/register/cc">
  <p>Đăng Kí Tài Khoản</p>
    <div class="register-textInput">
      <input
        type="text"
        id="fullName"
        name="fullName"
        {{!-- value={{data.fullName}} --}}
      />
      <label for="fullName">Họ và Tên</label>
    </div>

    <div class="register-textInput">
      <input
        type="email"
        id="email"
        name="email"
        {{!-- value={{data.email}} --}}
      />
      <label for="email">gmail</label>

    </div>

    <div class="register-password">
      <input
        type="password"
        id="password"
        name="password"
        {{!-- value={{data.password}} --}}
      />
      <label class="form-label" for="password">Mật Khẩu</label>

    </div>

    <div class="register-password">
      <input type="password" id="passwordChecking" name="passwordChecking" />
      <label for="passwordChecking">Nhập Lại Mật Khẩu</label>
    </div>

   
    <div class="register-btn">
      <button>Register</button>
    </div>
  </form></div></div>
<script>
  $(document ).ready(function() {
  $("#alert").toast({animation:true,delay:100000}); $("#alert").toast("show");
  });
</script>