{{! <form method="post"  action="/register/cc"  class="row g-3" enctype="multipart/form-data">
  <div class="col-md-4">
    <label for="fName" class="form-label">Full Name</label>
    <input type="text" class="form-control" id="fName" name="realName" required>
  </div>
  <div class="col-md-4">
    <label for="UserName" class="form-label">User Name</label>
    <input type="text" class="form-control" id="UserName"  required>
  </div>
  <div class="col-md-4">
    <label for="Gmail" class="form-label">Gmail</label>
    <div class="input-group">
      <span class="input-group-text" id="Gmail">@</span>
      <input type="text" class="form-control" id="Gmail"  name="gmail" aria-describedby="inputGroupPrepend2" required>
    </div>
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input type="text" class="form-control" id="password" name="password" required>
  </div>
  <div class="col-md-3">
    <label for="age" class="form-label">Age</label>
     <input id="age" type="range" name="age" min="6" max="120" value="0" oninput="this.form.amountInput.value=this.value" />
    <input  type="number" name="amountInput" min="6" max="1 20" value="0"  />
  
   
  </div>
  <div class="col-md-3">
    <label for="avatar" class="form-label">Choose Avatar</label>
  <input id="avatar" type="file" name="imgFile">
  </div>
  
  </div>
  <div class="col-12">
    <button class="btn btn-primary" >Register</button>
  </div>
</form> }}
<section class="" style="background-color: #eee;">
  <div class="container h-70">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form class="mx-1 mx-md-4" method="post" action="/register/cc">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="text"
                        id="fullName"
                        class="form-control"
                        name="fullName"
                        value={{data.fullName}}
                      />
                      <label class="form-label" for="fullName">Your Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        name="email"
                        value={{data.email}}
                      />
                      <label class="form-label" for="email">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        name="password"
                        value={{data.password}}
                      />
                      <label class="form-label" for="password">Password</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input
                        type="password"
                        id="passwordChecking"
                        class="form-control"
                        name="passwordChecking"
                      />
                      <label class="form-label" for="passwordChecking">{{#if
                          wrong
                        }}!!! Wrong password{{/if}}{{#else}}
                          Repeat your password
                        {{/else}}</label>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="termOfService"
                    />
                    <label class="form-check-label" for="termOfService">
                      I agree all statements in
                      <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button class="btn btn-primary btn-lg">Register</button>
                  </div>

                </form>

              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >

                <img
                  src="/img/post/pexels-jaime-reimer-2662116.jpg"
                  class="img-fluid"
                  alt="Sample image"
                />

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>