<div class="nav" style="position:fixed; z-index:2" >
    <div class="nav-container" style="text-align: center; flex-direction:column">
        <p style="color:white">Đã có tài khoản ?     </p> 
        <a  href="/login">Đăng Nhập ngay</a>
    </div>
</div>