<nav class="nav">
  <div class="nav-container">
    <div class="nav-home"> <a href="/"><i class="bi bi-house"></i>Fiat</a></div>

    <div class="nav-srcBar">
      <input type="search" placeholder="..." />
    </div>
    <div class="nav-private">

      <a class="nav-link" aria-current="page" href="/blogs">Trang Cá Nhân</a>
    </div>

    <div class="nav-btnContainer">
      {{#if yes}}
        <div class="nav-create">
          <a class="nav-link link-light" href="/create"><i
              class="bi bi-file-plus"
            ></i></a></div>

        <a
          class="nav-link dropdown-toggle link-light"
          href="/selfBlog"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img class="nav-avatar" src="img/user/{{user.avatar}}" />
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item link-dark" href="/home">Trang cá nhân
              <i class="bi bi-door-open"></i></a></li>
          <li><a class="dropdown-item link-dark" href="/update">Thông tin tài
              khoản
              <i class="bi bi-info-square-fill"></i></a></li>
          <li><a class="dropdown-item link-dark" href="/logout">Đăng Xuất
              <i class="bi bi-door-open"></i></a></li>
        </ul>
      {{else}}
        <a href="/login">Đăng nhập</a>
        <a href="/register">Đăng kí tài khoản</a>
      {{/if}}
    </div>
  </div>
</nav>